body {
    background-image: url("images/bg-c2.jpg");
    background-color: #cccccc;
    background-size: cover;
}

h3, #bio {
   font-family: trebuchet MS, sans-serif;
}

.repo, h4 {
    font-family: trebuchet MS, sans-serif;
    color: slategrey;
}

.go-back{
    font-family: trebuchet MS, sans-serif;
    color: white;
    background-color: grey;
}

#bio-card {
    width: 80%;
}

#contact-card {
    width: 50%;
    height: 250px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: slategrey;
}

#profile-pic{
    max-width: 350px;
}

.card, .alert{
    background-color: whitesmoke;
}

  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.alert-link{
    font-family: Andale Mono, monospace;
    font-size: 14px;
    color: slategrey;
}

#contact-string {
    font-size: 17px;
}

#project-desc {
    color: black;
    background-color: white;
}

#project-link {
    color: white;
    font-size: 20px;
}

#projects-link {
    color: black;
    background-color: white;
    font-size: 20px;
}