body {
    background-image: url("bg-c2.jpg");
    background-color: #cccccc;
    background-size: cover;
}

.footer {
    position: fixed;
     bottom: 0;
     width: 100%;
     height: 60px;
     line-height: 60px;
     background-color: #f5f5f5;
}

h3, #bio {
   font-family: trebuchet MS, sans-serif
}

.card {
    width: 80%;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: slategrey;
}

img{
    max-width: 350px;
}

.card{
    background-color: whitesmoke
}

  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
